<!--들어가자마자 보이는 페이지-->

{% extends 'crudapp/index.html' %}

{% block createButton %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Hashtag 검색
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for hashtag in hashtags.all %}
        <a class="dropdown-item" href="{% url 'search' hashtag.id %}">{{ hashtag.name }}</a>
        {% endfor %}
    </ul>
</div>
<a class="btn btn-primary btn-xl" href="{% url 'create' %}">작성</a>

{% endblock %}