<!--작성한 블로그 글을 보여주는 페이지-->

{% extends 'crudapp/index.html' %}

{% block content %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">READ</h2>
        <!--views.py 의 posts = Post.objects 즉 id 값을 가져온다-->
        {% for posts in posts.all %}
        <!--게시물의 제목이 링크화 됨-->
        <!--post모델의 객체를 다 가져와야 하기 때문에 posts임-->
        <p>TITLE :<a href="{% url 'detail' posts.id %}">{{ posts.title }}</a></p>
        <p>WRITER: {{ posts.writer }}</p>
        <p>TIME: {{ posts.pub_date }}</p>
        {% if posts.image %}
            <img src="{{ posts.image.url }}" width="250" height="250" alt="Card image cap">
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}